.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.AppHeader {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 2px #00000033;
}
.PageContent {
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin-top: 2px;
}
.AppFooter {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.itemCard, .itemCardBadge {
    margin: 8px;
}
.itemCardImage {
    height: 150px !important;
    object-fit: scale-down;
}
.ShoppingCartIcon {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}